{% extends 'admin/base.html' %}

{% block content %}
  <h1>THỐNG KÊ DOANH THU CỦA CỬA HÀNG CỦA BẠN</h1>

<h1>Quản lý tồn kho</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Tồn ban đầu</th>
                <th>Số lượng bán ra</th>
                <th>Còn lại</th>
            </tr>
        </thead>
        <tbody>
            {% for product in stock_products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.total_sold }}</td>
                <td>{{ product.stocks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


  <!-- Thống kê doanh thu theo tháng -->
  <h2>Doanh thu hàng tháng</h2>
  <table border="1">
      <thead>
          <tr>
              <th>Tháng</th>
              <th>Tổng Doanh Thu</th>
          </tr>
      </thead>
      <tbody>
          {% for sale in monthly_sales %}
          <tr>
              <td>{{ sale.month|date:"Y-m" }}</td>
              <td>{{ sale.total_sales|floatformat:2 }} VNĐ</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <!-- Thống kê doanh thu theo quý -->
  <h2>Doanh thu hàng quý</h2>
  <table border="1">
      <thead>
          <tr>
              <th>Quý</th>
              <th>Tổng Doanh Thu</th>
          </tr>
      </thead>
      <tbody>
          {% for sale in quarterly_sales %}
          <tr>
              <td>{{ sale.quarter|date:"Y-Q" }}</td>
              <td>{{ sale.total_sales|floatformat:2 }} VNĐ</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <!-- Thống kê doanh thu hàng năm -->
  <h2>Doanh thu hàng năm</h2>
  <table border="1">
      <thead>
          <tr>
              <th>Năm</th>
              <th>Tổng Doanh Thu</th>
          </tr>
      </thead>
      <tbody>
          {% for sale in yearly_sales %}
          <tr>
              <td>{{ sale.year|date:"Y" }}</td>
              <td>{{ sale.total_sales|floatformat:2 }} VNĐ</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
